.vscode/
viejo/
**/*.4ct
**/*.4tc
**/*.fdb_latexmk
**/*.idv
**/*.lg
**/*.lof
**/*.synctex.gz
**/*.synctex(busy)
**/*.tmp
**/*.xref
**/*.fls
**/*.loc
**/*.run.xml
**/*.soc
**/*.snm
**/*.blg
**/*-SAVE-ERROR
**/*.aux
**/*.log
**/*.bbl
**/*.out
**/*.bcf